.container {
  composes: p-4 from global;
  display: flex;
  flex-direction: column;
  grid-area: burgerConstructor;
  border-radius: var(--common-border-radius-s);
  border: 2px dashed transparent;
}

.container.drop {
  border-color: var(--text-inactive-color);
  background: var(--background);
}

.footer {
  composes: ml-2 mt-4 from global;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  max-width: 572px;
}
