.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  composes: text text_type_digits-default from global;
  display: flex;
  justify-content: center;
}

.name {
  composes: text text_type_main-medium pt-10 from global;
}

.ingredientsHeader {
  composes: text text_type_main-medium pt-15 pb-6 from global;
}

.ingredients {
  composes: pr-6 from global;
  max-height: 320px;
  overflow-x: auto;
}

.ingredient {
  composes: text text_type_main-default pb-4 from global;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ingredientImage {
  composes: mr-4 from global;
}

.ingredientPrice {
  white-space: nowrap;
  margin-left: auto;
  padding-left: 16px;
}

.footer {
  composes: pt-6 from global;
  display: flex;
  justify-content: space-between;
}

.createdAt {
  composes: text text_type_main-default text_color_inactive from global;
}
