.modal {
  background: var(--background);
  border-radius: var(--common-border-radius-s);
  border: 2px solid var(--text-inactive-color);
}

.header {
  composes: mt-10 mr-10 ml-10 text text_type_main-large from global;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.body {
  composes: mb-10 mr-10 ml-10 from global;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 400px;
  min-height: 400px;
}
